.bg{
    background-color: #FF9320 !important;
}
.color{
    color: #FF9320 !important;
}
.nav-link{
    color: white !important;
    font-weight: bold !important;
}
.app-vh{
    
}
.active{
    color: #FF9320 !important;
    background: white;
    border-radius: 5px;
}
.main{
    min-height: calc(100vh - 68px - 53px) !important;
}